<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="507261694070-n834cmpabd9q8peodjrmuk65uhvm5il4.apps.googleusercontent.com">

    <title>Ekadash Calendar</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="assets/css/magister.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script defer src="/googleAuth.js" async defer></script>

</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
            <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#head" class="active">Hello</a></li>
                <li><a href="#about">About</a></li>
                <li class="g-signin2" data-onsuccess="onSignIn"></li>
                <!--<li><a href="#themes">Themes</a></li>-->
                <!--<li><a href="#contact">Get in touch</a></li>-->

            </ul>
        </div>
    </div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                <h1 class="title">Ekadashi Fasting</h1>
                <!--<h2 class="subtitle"></h2>-->

                <!-- Short introductory (optional) -->
                <h3 class="tagline">
                    Ekadashi fasting is observed on every 11th Tithi in Hindu calendar.
                </h3>
                <!--<p><a href="/download/" class="btn btn-default btn-lg">Ener with Google</a></p>-->
                <button class="btn btn-default btn-lg">Ener with Google</button>
                <button onClick=signIn()>Log in</button>



            </div> <!-- /col -->
            <!--<div class="input-group col-lg-6 center-block width-25">-->
                <!--<input type="text" class="form-control ">-->
                <!--<span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>-->
            <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
        </div> <!-- /row -->

    </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">

        <h2 class="text-center title">About</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong><br></strong></h5>
                <p>Ekadashi fasting is observed on every 11th Tithi in Hindu calendar. There are two Ekadashi fasting in
                    a month, one during Shukla Paksha and another during Krishna Paksha. </p>
            </div>
            <div class="col-sm-4">
                <h5><strong><br></strong></h5>
                <p>Devotees of Lord Vishnu observe Ekadashi fasting to seek His blessings. Ekadashi fasting spans for
                    three days.
                    Devotees take single
                    meal in the afternoon a day before
                    fasting day to make sure there is no residual
                    food in the stomach on next day. </p>
                <!--<h5><strong>Author links<br></strong></h5>-->
                <!--<p><a href="http://be.net/pozhilov9409">Behance</a> / <a href="https://twitter.com/serggg">Twitter</a> / <a href="http://linkedin.com/pozhilov">LinkedIn</a> / <a href="https://www.facebook.com/pozhilov">Facebook</a></p>-->
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong><br></strong></h5>
                <p>Devotees keep strict fast on Ekadashi day and break the fast on
                    next day only after sunrise. Eating of all type of grains and cereals is prohibited during Ekadashi
                    fasting.</p>
            </div>
            <div class="col-sm-4">
                <h5><strong><br></strong></h5>
                <p>Devotees can choose to observe fasting without water, with only water, with only fruits, with one
                    time latex food according to their will and body power. However it should be decided before starting
                    the fast.</p>
            </div>
        </div>
    </div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
    <div class="container">

        <h2 class="text-center title">More Themes</h2>
        <p class="lead text-center">
            Huge thank you to all people who publish<br>
            their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
        </p>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="thumbnail">
                    <img src="assets/screenshots/sshot1.jpg" alt="">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam
                            cupiditate eius at explicabo eaque facere iste.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/screenshots/sshot4.jpg" alt="">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam
                            cupiditate eius at explicabo eaque facere iste.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="thumbnail">
                    <img src="assets/screenshots/sshot5.jpg" alt="">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam
                            cupiditate eius at explicabo eaque facere iste.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/screenshots/sshot3.jpg" alt="">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam
                            cupiditate eius at explicabo eaque facere iste.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                           class="btn btn-default"
                                                                                           role="button">Button</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
    <div class="container">

        <h2 class="text-center title">Get in touch</h2>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p class="lead">Have a question about this template, or want to suggest a new feature?</p>
                <p>Feel free to email me, or drop me a line in Twitter!</p>
                <p><b>gt@gettemplate.com</b><br><br></p>
                <ul class="list-inline list-social">
                    <li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i>
                        Twitter</a></li>
                    <li><a href="https://github.com/pozhilov" class="btn btn-link"><i class="fa fa-github fa-fw"></i>
                        Github</a></li>
                    <li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i>
                        LinkedIn</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/magister.js"></script>
</body>
</html>